<p id="notice"><%= notice %></p>

<h1>Skills</h1>


  

  

  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-sm-6 col-md-3">
        <%=image_tag skill.image, class:"skill-img"%>
      </div>  
      
    <% end %>
  </div>


