<div class="wrapper">
    <div class="home-top">
        <div class="logo">
            <h1>Takuma Aoki</h1>
            <h1>Portfolio</h1>
        </div>    
    </div>

    <div class="home-main">
        <ul class="icons">
            <li>
                <%= link_to skills_path, class:"icon" do %>
                <i class="fas fa-lightbulb"></i>
                SKILL
                <% end %>
            </li>
            <li>
                <%= link_to experiences_path, class:"icon" do %>
                <i class="fas fa-tasks"></i>
                EXPERIENCE
                <% end %>
            </li>
            <li>
                <%= link_to new_message_path, class:"icon" do %>
                <i class="fas fa-envelope"></i>
                CONTACT
                <% end %>
            </li>
        </ul>    
    </div>    
</div>



