<div class="wrapper">
    <div class="home-top">
        <div class="logo">
            <h1>Takuma Aoki</h1>
            <h1>Portfolio</h1>
        </div>    
    </div>

    <div class="home-main">
        <ul class="icons">
            <li id="icon-1"><%= link_to "EXPERIENCE", experiences_path %></li>

            <li id="icon-2"><i class="far fa-lightbulb"></i><%= link_to "SKILL", skills_path %></li>

            <li id="icon-3"><%= link_to "CONTACT", new_message_path %></li>
        </ul>    
    </div>    
</div>


