
<div class="home-top">
    <div class="logo">
        <h1>Takuma Aoki</h1>
        <h1>Portfolio</h1>
    </div>    
</div>

<div class="home-main">
    <ul class="icons">
        <li><%= link_to "経験", experiences_path %></li>

        <li><%= link_to "スキル", skills_path %></li>

        <li><%= link_to "お問い合わせ", new_message_path %></li>
    </ul>    
</div>    
