<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>お問い合わせ受信</p>
    <p><%= @email %></p>
    <p><%= @name %></p>
    <p><%= @content %></p>
  </body>
</html>
