// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.experience-contents{
    margin-top: 15px;
    background-color: white;
    height: 620px;
    font-size: 30px
}

.content{
    text-align: center;
    a{
        color: aliceblue;
        text-decoration: none;
    }
}
