// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages-wrapper{
    text-align: center;
    background-color: #f3f3f3;
    font-family: 'Oswald', sans-serif;
    margin: 40px
}

.messages-wrapper h1{
    padding-top: 20px;
    margin-bottom: 40px;
    margin-top: 0;
}
.new-messages{
    text-align: center !important
}

.field{
    padding: 10px 0;
    p{
        margin-bottom: 10px;
        font-weight: bold;
    }

}

.required{
    color:white ;
    background-color: #f45555;
    font-weight: normal;
    margin-left: 10px;
}

.text{
    margin-top: 40px ;
}

.actions{
    margin-left: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 600px){
    .section-title-message h2{
        font-size: 30px;
    }
}
