// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.skill-img{
    margin: auto;
    display: block;
    width: 50%;
}

.section-title{
    font-size: 45px;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
}

.skill-content{
    margin-top: 15px;
    background-color: white;
}

@media only screen and (max-width: 600px){
    .section-title-skill h2{
        font-size: 30px;
    }
}
